# Data Science Tools And Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some popular languages in data science.
- Commonly used libraries in data science.
- Examples evaluating arithmetic expressions in pyhon.

Some of the popular languages that Data Scientists use are:
1. Python
2. R language
3. Structured Query Language (SQL)

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib
4. Seaborn

| Data Science Tools |
| ------------------ |
| Jupyter Notebooks |
| IBM watson Studio |
| spyder |

### Below are a few examples of evaluating arithmetic expressions in Python:
 Addition
result_add = 10 + 5

 Subtraction
result_sub = 15 - 7

 Multiplication
result_mul = 8 * 4

In [1]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Mukhtar Adepoju